openapi: 3.0.3
info:
  title: Checkwt
  version: 1.0.0
  description: Check your JWT and JWE

servers:
  - url: https://checkwt.io

paths:
  /decode:
    post:
      summary: Decode JWT
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JWTRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
        400:
          description: Bad request - token not readable
        404:
          description: Encryption key not found
  /keys/{keyId}:
    get:
      summary: Get signing key
      tags:
        - Tokens
      parameters:
        - name: keyId
          in: path
          required: true
          description: The ID of the signing key
          schema:
            type: string
            example: "019cfbfe-a43e-7c8d-b238-ffc538a933cc"
      responses:
        200:
          description: Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeyResponse'
        404:
          description: Signing key not found

  /encode:
    post:
      summary: Encode (create) JWT
      tags:
        - Tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncodeRequest'
      responses:
        200:
          description: Token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncodeResponse'
        400:
          description: Bad request - invalid input
        500:
          description: Server error

components:
  schemas:
    JWTRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          example: eyJhbGciOiJFZERTQSIsImtpZCI6IjAxOWQwMTY0LTdjNGMtNzA4YS04MjU3LTA2ODhjYmFiODQ3NyIsInR5cCI6IkpXVCJ9.eyJjb3VudHJ5IjoiZ2xvYmFsIiwiZGVzY3JpcHRpb24iOiIiLCJlbnZpcm9ubWVudCI6InRlc3QiLCJleHAiOjE4MDUzODA4NTUsImlhdCI6MTc3Mzg0NDg1NSwicHJvZHVjdCI6Imdsb2JhbGN1c3RvbWVyYWNjb3VudCJ9.jajR9nID-jtfUU2-qZrMcXKW4KQFBBulXVnwSMFuGnZefE_BPtrHAPxhIilIghxM1GHDRxhXv11Oi6PfrC3ZCw

    JWTResponse:
      type: object
      required:
        - header
        - payload
        - signatureValid
      properties:
        header:
          type: object
        payload:
          type: object
        signatureValid:
          type: boolean
    KeyResponse:
      type: object
      required:
        - key
      properties:
        key:
          type: object
    EncodeRequest:
      type: object
      required:
        - header
        - payload
      description: |
        The request to create a JWT. Keys are generated automatically by the server
        (a new signing key is created and appended to the public JWKS.json).
        Use `mode` in the body to select `jwt` (sign) or `jwe` (encrypt).
        If `mode` is `jwe` and `recipientKey` is omitted, the server will generate an
        encryption keypair, append the public key to `public/JWKS.json` and store the
        private key in `private/JWKS.json` for decryption.
      properties:
        header:
          type: object
          description: JWT protected header (server will add `kid`/`alg` if missing)
        payload:
          type: object
          description: JWT claims/payload
        mode:
          type: string
          description: Encoding mode; `jwt` (default) or `jwe` to produce an encrypted token
          example: jwt
        recipientKey:
          type: object
          description: |
            (Optional) Recipient public key (JWK) to use for JWE encryption. If omitted,
            the server will generate a new encryption keypair and publish the public key.
          nullable: true
    EncodeResponse:
      type: object
      required:
        - token
      properties:
        token:
          type: string
    JWEEncodeResponse:
      type: object
      required:
        - token
        - recipientKid
      properties:
        token:
          type: string
        recipientKid:
          type: string
          description: Key ID of the recipient public key (useful to locate private key for decryption)
    SupportedAlgorithms:
      type: object
      description: Lists of supported algorithms for JWT (signing) and JWE (key management and content encryption).
      properties:
        jwtSigningAlgs:
          type: array
          items:
            type: string
          description: Supported `alg` values for JWT signing/verification.
          example: ["EdDSA", "ES256", "RS256", "PS256"]
        jweKeyManagementAlgs:
          type: array
          items:
            type: string
          description: Supported `alg` (key management) values for JWE.
          example: ["RSA-OAEP-256", "RSA-OAEP", "RSA1_5", "ECDH-ES", "ECDH-ES+A256KW", "A256KW"]
        jweContentEncryptionAlgs:
          type: array
          items:
            type: string
          description: Supported `enc` (content encryption) values for JWE.
          example: ["A256GCM", "A128GCM", "A128CBC-HS256"]
